# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env

# Streamlit
.streamlit/secrets.toml

# Model files (optional)
*.pkl

# Jupyter
.ipynb_checkpoints

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
